.User{
  margin-top: 40px;
  margin-right: 10px;
  max-width: 295px;

  @media only screen and (max-width: 960px) {
    max-width: 255px;
  }

  @media only screen and (max-width: 767px) {
    margin-right: 0;
  }

  &__avatar {
    margin-bottom: 29px;
    width: 280px;
    height: 280px;
    border-radius: 50%;

    @media only screen and (max-width: 960px) {
      width: 220px;
      height: 220px;
    }
    @media only screen and (max-width: 767px) {
      width: 255px;
      height: 255px;
    }
  }

  &__name {
    margin-bottom: 12px;
    color: #000000;
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 26px;
    line-height: 130%;
  }

  &__link {
    margin-bottom: 25px;
    display: block;
    color: #0064EB;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__network {
    display: flex;
    font-size: 16px;
    line-height: 150%;
    color: #000000;

    @media only screen and (max-width: 1060px) {
      flex-direction: column;
    }

    &_followers {
      padding-left: 32px;
      background: url('../../assets/group_24px.svg') no-repeat left center;

    }
    &_following {
      margin-left: 16px;
      padding-left: 32px;
      background: url('../../assets/person_24px.svg') no-repeat left center;

      @media only screen and (max-width: 1060px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}