.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(249, 249, 249);
  font-family: 'Inter-Regular', sans-serif;
  color: rgba(128, 128, 128, 1);
}

.App__main {
  margin: 0 56px;
  margin-bottom: 30px;
  flex: auto;
  display: flex;
}

