.Repositories {
  margin-top: 28px;
  margin-left: 24px;
  width: 70%;

  @media only screen and (max-width: 1200px) {
    width: 65%;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }
  
  &__title {
    margin-bottom: 29px;
    color: #000000;
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 32px;
    line-height: 130%;

    @media only screen and (max-width: 960px) {
      font-size: 28px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 24px;
      text-align: center;
    }
  }

  &__list {
    height: 520px;

    @media only screen and (max-width: 767px) {
      height: auto;
    }
  }

  &__item {
    margin-bottom: 24px;
    padding: 24px 32px;
    height: 112px;
    background-color: #ffffff;
    border-radius: 6px;

    @media only screen and (max-width: 767px) {
      height: 96px;
      padding: 18px 24px;
    }

    @media only screen and (max-width: 767px) {
      height: 96px;
      padding: 18px 18px;
    }
  }

  &__name {
    margin-bottom: 16px;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 24px;
    line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media only screen and (max-width: 960px) {
      font-size: 22px;
      line-height: 27px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }

    @media only screen and (max-width: 460px) {
      font-size: 16px;
      line-height: 22px;
    }

    a {
      color: rgba(0, 100, 235, 1);
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__description {
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media only screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}